services:
  # --------------------
  # API GATEWAY (PUBLIC)
  # --------------------
  - type: web
    name: api-gateway
    runtime: docker
    plan: starter
    region: frankfurt
    dockerContext: ./backend/api-gateway
    dockerfilePath: Dockerfile
    envVars:
      - fromGroup: prod-shared
    healthCheckPath: /health

  # --------------------
  # AUTH SERVICE (PRIVATE)
  # --------------------
  - type: web
    name: auth-service
    runtime: docker
    plan: starter
    region: frankfurt
    dockerContext: ./backend/services/auth-service
    dockerfilePath: Dockerfile
    envVars:
      - fromGroup: prod-shared
    routes:
      - type: private

  # --------------------
  # USER SERVICE (PRIVATE)
  # --------------------
  - type: web
    name: user-service
    runtime: docker
    plan: starter
    region: frankfurt
    dockerContext: ./backend/services/user-service
    dockerfilePath: Dockerfile
    envVars:
      - fromGroup: prod-shared
    routes:
      - type: private

  # --------------------
  # TASK SERVICE (PRIVATE)
  # --------------------
  - type: web
    name: task-service
    runtime: docker
    plan: starter
    region: frankfurt
    dockerContext: ./backend/services/task-service
    dockerfilePath: Dockerfile
    envVars:
      - fromGroup: prod-shared
    routes:
      - type: private

  # --------------------
  # ANALYTICS SERVICE (PRIVATE)
  # --------------------
  - type: web
    name: analytics-service
    runtime: docker
    plan: starter
    region: frankfurt
    dockerContext: ./backend/services/analytics-service
    dockerfilePath: Dockerfile
    envVars:
      - fromGroup: prod-shared
    routes:
      - type: private


  # --------------------
  # NOTIFICATION SERVICE (PRIVATE)
  # --------------------
  - type: web
    name: notification-service
    runtime: docker
    plan: starter
    region: frankfurt
    dockerContext: ./backend/services/notification-service
    dockerfilePath: Dockerfile
    envVars:
      - fromGroup: prod-shared
    routes:
      - type: private
