services:
  # --------------------
  # API GATEWAY (PUBLIC)
  # --------------------
  - type: web
    name: api-gateway
    runtime: docker
    plan: free
    region: frankfurt
    dockerContext: ./backend/api-gateway
    envVars:
      - fromGroup: prod-shared
    healthCheckPath: /health

  # --------------------
  # AUTH SERVICE
  # --------------------
  - type: web
    name: auth-service
    runtime: docker
    plan: free
    region: frankfurt
    dockerContext: ./backend/services/auth-service
    envVars:
      - fromGroup: prod-shared

  # --------------------
  # USER SERVICE
  # --------------------
  - type: web
    name: user-service
    runtime: docker
    plan: free
    region: frankfurt
    dockerContext: ./backend/services/user-service
    envVars:
      - fromGroup: prod-shared

  # --------------------
  # TASK SERVICE
  # --------------------
  - type: web
    name: task-service
    runtime: docker
    plan: free
    region: frankfurt
    dockerContext: ./backend/services/task-service
    envVars:
      - fromGroup: prod-shared

  # --------------------
  # ANALYTICS SERVICE
  # --------------------
  - type: web
    name: analytics-service
    runtime: docker
    plan: free
    region: frankfurt
    dockerContext: ./backend/services/analytics-service
    envVars:
      - fromGroup: prod-shared

  # --------------------
  # NOTIFICATION SERVICE
  # --------------------
  - type: web
    name: notification-service
    runtime: docker
    plan: free
    region: frankfurt
    dockerContext: ./backend/services/notification-service
    envVars:
      - fromGroup: prod-shared
