version: "3.9"

services:
  api-gateway:
    image: node:20-alpine
    container_name: api-gateway
    working_dir: /app
    volumes:
      - ../../backend/api-gateway:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
      - auth-service

  user-service:
    image: node:20-alpine
    container_name: user-service
    working_dir: /app
    volumes:
      - ../../backend/services/user-service:/app
    command: sh -c "npm install && npm run dev"
    env_file:
      - .env
    depends_on:
      - mongo
      - auth-service

  auth-service:
    build:
      context: ../../backend/services/auth-service
    container_name: auth-service
    ports:
      - "3001:3001"
    env_file:
      - ../../backend/services/auth-service/.env
    depends_on:
      - postgres-auth

  postgres-auth:
    image: postgres:15
    container_name: postgres-auth
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    ports:
      - "5433:5432"
    volumes:
      - auth_pg_data:/var/lib/postgresql/data

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
  auth_pg_data:
